#### Importing Packages

In [1]:
import pandas as pd
import numpy as np
import ast
import random

#### Reading Datasets

In [2]:
credits = pd.read_csv('credits.csv')
titles = pd.read_csv('titles.csv')

#### Data Understanding & Wrangling

In [3]:
credits.head()

   person_id       id             name                character   role
0       3748  tm84618   Robert De Niro            Travis Bickle  ACTOR
1      14658  tm84618     Jodie Foster            Iris Steensma  ACTOR
2       7064  tm84618    Albert Brooks                      Tom  ACTOR
3       3739  tm84618    Harvey Keitel  Matthew 'Sport' Higgins  ACTOR
4      48933  tm84618  Cybill Shepherd                    Betsy  ACTOR

In [4]:
titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,tt0068473,7.7,107673.0,10.010,7.300
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,tt0071853,8.2,534486.0,15.461,7.811
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,tt0061578,7.7,72662.0,20.398,7.600

In [5]:
credits.isnull().sum()

person_id       0
id              0
name            0
character    9772
role            0
dtype: int64

###### Treating Null Values in Credits Dataframe, We fill Character's missing values with Not Available.

In [6]:
credits.character.fillna("Not Available", inplace=True)

In [7]:
credits.isnull().sum()

person_id    0
id           0
name         0
character    0
role         0
dtype: int64

In [8]:
print(titles.shape)
print(credits.shape)

(5850, 15)
(77801, 5)

In [9]:
titles.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

In [10]:
titles['type'].unique()

array(['SHOW', 'MOVIE'], dtype=object)

##### -> Titles contain shows and movies as their type, hence shows have seasons and movies cannot have seasons. 
##### -> But age certification, production_country is common for all types of movies and shows.
##### -> We fill null values in age certification and production_country with Not available.
##### -> Description is not needed for our Analysis, Hence we remove description from out dataframe

In [11]:
titles.age_certification.fillna('Not Available', inplace = True)
titles.drop(columns=['description'], inplace = True)
titles.production_countries.fillna("Not Available", inplace=True)
titles.genres.fillna("Not Available", inplace = True)

##### Genere and prduction_countries have multiple values in the form of array. Hence we derive into single values for Genere and production_countires.

In [12]:
def cleaning_multivalued(data):
    data=ast.literal_eval(data)
    
    if len(data)==0:
        return np.nan
    
    elif len(data)==1:
        return data[0]
    
    else:
        return random.choice(data)

titles["production_countries"]=titles["production_countries"].apply(cleaning_multivalued)
titles["genres"]=titles["genres"].apply(cleaning_multivalued)

##### Divided titles based on type in dataframe i.e, Movies and shows

In [13]:
show_title = titles[titles['type'] == 'SHOW' ]
movie_title = titles[titles['type'] == 'MOVIE']

In [20]:
print("Shape of dataframe: ",show_title.shape)
print("Total No of Null Values:\n", show_title.isnull().sum())

Shape of dataframe:  (2106, 14)
Total No of Null Values:
 id                        0
title                     0
type                      0
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
seasons                   0
imdb_id                 141
imdb_score              167
imdb_votes              167
tmdb_popularity          29
tmdb_score              116
dtype: int64

In [19]:
print("Shape of dataframe: ",movie_title.shape)
print("Total No of Null Values:\n", movie_title.isnull().sum())

Shape of dataframe:  (3744, 13)
Total No of Null Values:
 id                        0
title                     1
type                      0
release_year              0
age_certification         0
runtime                   0
genres                    0
production_countries      0
imdb_id                 262
imdb_score              315
imdb_votes              331
tmdb_popularity          62
tmdb_score              195
dtype: int64

##### For movie_title and show_title we've null values, these null values are replaced by Not Available.

In [18]:
movie_title.production_countries.fillna("Not Available", inplace=True)
movie_title.genres.fillna("Not Available", inplace = True)
show_title.production_countries.fillna("Not Available", inplace=True)
show_title.genres.fillna("Not Available", inplace = True)

C:\Users\jayan\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

##### Seasons are not needed for a movie, Hence we remove Seasons from movie_title.

In [16]:
movie_title.drop(columns=['seasons'], inplace = True)

C:\Users\jayan\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

##### Merge both ther dataframes with the help of ID

In [21]:
movie_tc = credits.merge(movie_title, left_on='id', right_on='id')
show_tc = credits.merge(show_title, left_on='id', right_on='id')

In [22]:
print("Shape of dataframe: ",movie_tc.shape)
print("Total No of Null Values:\n", movie_tc.isnull().sum())

Shape of dataframe:  (63091, 17)
Total No of Null Values:
 person_id                  0
id                         0
name                       0
character                  0
role                       0
title                      1
type                       0
release_year               0
age_certification          0
runtime                    0
genres                     0
production_countries       0
imdb_id                 2459
imdb_score              2804
imdb_votes              2891
tmdb_popularity            1
tmdb_score               889
dtype: int64

In [23]:
print("Shape of dataframe: ",show_tc.shape)
print("Total No of Null Values:\n", show_tc.isnull().sum())

Shape of dataframe:  (14710, 18)
Total No of Null Values:
 person_id                  0
id                         0
name                       0
character                  0
role                       0
title                      0
type                       0
release_year               0
age_certification          0
runtime                    0
genres                     0
production_countries       0
seasons                    0
imdb_id                 1040
imdb_score              1146
imdb_votes              1146
tmdb_popularity           10
tmdb_score               248
dtype: int64

In [30]:
show_tc.dtypes

person_id                 int64
id                       object
name                     object
character                object
role                     object
title                    object
type                     object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object

##### Removal of Null imdb_id for both movies and shows.

In [43]:
popular_show = show_tc.dropna(subset = ['imdb_id'])
popular_movie = movie_tc.dropna(subset = ['imdb_id'])

In [47]:
print("Before Dropping null imdb_id:", show_tc.shape)
print("After Dropping null imdb_id:",popular_show.shape)
print("Total No of Null Values:\n", popular_show.isnull().sum())

Before Dropping null imdb_id: (14710, 18)
After Dropping null imdb_id: (13670, 18)
Total No of Null Values:
 person_id               0
id                      0
name                    0
character               0
role                    0
title                   0
type                    0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
seasons                 0
imdb_id                 0
imdb_score              0
imdb_votes              0
tmdb_popularity         0
tmdb_score              0
dtype: int64

In [46]:
print("Before Dropping null imdb_id:", movie_tc.shape)
print("After Dropping null imdb_id:",popular_movie.shape)
print("Total No of Null Values:\n", popular_movie.isnull().sum())

Before Dropping null imdb_id: (63091, 17)
After Dropping null imdb_id: (60632, 17)
Total No of Null Values:
 person_id               0
id                      0
name                    0
character               0
role                    0
title                   1
type                    0
release_year            0
age_certification       0
runtime                 0
genres                  0
production_countries    0
imdb_id                 0
imdb_score              0
imdb_votes              0
tmdb_popularity         0
tmdb_score              0
dtype: int64

#### Treating the null values of score, votes popularirty and score. Filling the null values with mean.

In [45]:
popular_movie['imdb_score']=popular_movie['imdb_score'].fillna(popular_movie['imdb_score'].mean())
popular_movie['imdb_votes']=popular_movie['imdb_votes'].fillna(popular_movie['imdb_votes'].mean())
popular_movie['tmdb_popularity']=popular_movie['tmdb_popularity'].fillna(popular_movie['tmdb_popularity'].mean())
popular_movie['tmdb_score']=popular_movie['tmdb_score'].fillna(popular_movie['tmdb_score'].mean())

popular_show['imdb_score']=popular_show['imdb_score'].fillna(popular_show['imdb_score'].mean())
popular_show['imdb_votes']=popular_show['imdb_votes'].fillna(popular_show['imdb_votes'].mean())
popular_show['tmdb_popularity']=popular_show['tmdb_popularity'].fillna(popular_show['tmdb_popularity'].mean())
popular_show['tmdb_score']=popular_show['tmdb_score'].fillna(popular_show['tmdb_score'].mean())

C:\Users\jayan\AppData\Local\Temp/ipykernel_8424/427983901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_movie['imdb_score']=popular_movie['imdb_score'].fillna(popular_movie['imdb_score'].mean())
C:\Users\jayan\AppData\Local\Temp/ipykernel_8424/427983901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_movie['imdb_votes']=popular_movie['imdb_votes'].fillna(popular_movie['imdb_votes'].mean())
C:\Users\jayan\AppData\Local\Temp/ipykernel_8424/427983901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_movie['tmdb_popularity']=popular_movie['tmdb_popularity'].fillna(popular_movie['tmdb_popularity'].mean())
C:\Users\jayan\AppData\Local\Temp/ipykernel_8424/427983901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_movie['tmdb_score']=popular_movie['tmdb_score'].fillna(popular_movie['tmdb_score'].mean())
C:\Users\jayan\AppData\Local\Temp/ipykernel_8424/427983901.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_show['imdb_score']=popular_show['imdb_score'].fillna(popular_show['imdb_score'].mean())
C:\Users\jayan\AppData\Local\Temp/ipykernel_8424/427983901.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_show['imdb_votes']=popular_show['imdb_votes'].fillna(popular_show['imdb_votes'].mean())
C:\Users\jayan\AppData\Local\Temp/ipykernel_8424/427983901.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_show['tmdb_popularity']=popular_show['tmdb_popularity'].fillna(popular_show['tmdb_popularity'].mean())
C:\Users\jayan\AppData\Local\Temp/ipykernel_8424/427983901.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popular_show['tmdb_score']=popular_show['tmdb_score'].fillna(popular_show['tmdb_score'].mean())

-> The two datasets are cleaned and transformed into various different datasets to meet our requirements. 
They are as follow: 
1. credits (treated the null values)
2. titles (treated the null values)
3. show_titles (titles are divided into type = show)
4. movie_titles (titles are divided into type = movie and removed seasosn column from the dataset)
5. movie_tc (movie_title and credits are merged using ids) 
6. show_tc (show_title and credits are merged using ids0 
7. popuar_movie (Removed the null imdb_id's and replaced the other null values with their mean)  
8. popular_show (Removed the null imdb_id's and replaced the other null values with their mean)

##### Extracting the transformed datasets into csv's

In [48]:
credits.to_csv('cleaned/credits.csv')
titles.to_csv('cleaned/titles.csv')
show_title.to_csv('cleaned/show_title.csv')
movie_title.to_csv('cleaned/movie_title.csv')
show_tc.to_csv('cleaned/show_tc.csv')
movie_tc.to_csv('cleaned/movie_tc.csv')
popular_movie.to_csv('cleaned/popular_movie.csv')
popular_show.to_csv('cleaned/popular_show.csv')